<?xml version="1.0"?>
<configuration>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.VistaDB"/>
      <add name="VistaDB 4.0" description="VistaDB 4 ADO.NET Provider for .Net 2.0-3.5" invariant="System.Data.VistaDB" type="VistaDB.Provider.VistaDBProviderFactory, VistaDB.4, Version=4.0.0.0, Culture=neutral, PublicKeyToken=dfc935afe2125461"/>
    </DbProviderFactories>
  </system.data>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
